<section class="grid-container usa-section usa-prose">
    <h2> Register for Upcoming Events</h2>
    <div class="usa-table-container--scrollable" tabindex="0">
        <table class="usa-table">
          <caption>
          </caption>
          <thead>
            <tr>
              <th data-sortable scope="col" role="columnheader">Date</th>
              <th
                data-sortable
                scope="col"
                role="columnheader"
                aria-sort="descending"
              >
                Event Name
              </th>
              <th data-sortable scope="col" role="columnheader">
                Register
              </th>
          </thead>
          <tbody>
            <tr>
              <th scope="row" role="rowheader">Jul. 27, 2023</th>
              <td data-sort-value="50">Trusted Internet Connections (TIC) 3.0 Webinar for EIS Customer Agencies</td>
              <td data-sort-value="327092400">
                <button type="button" class="usa-button">Register</button>
                </td>
              
            </tr>
            <tr>
              <th scope="row" role="rowheader">Aug. 18, 2023</th>
              <td data-sort-value="49">EIS services that support your Zero Trust Architecture</td>
              <td data-sort-value="346960800"><button type="button" class="usa-button">Register</button>
            </td>
            </tr>
            <tr>
              <th scope="row" role="rowheader">Sep. 06, 2023</th>
              <td data-sort-value="48">How EIS can help agengies transition from IPv4 to IPv6</td>
              <td data-sort-value="1826560800"><button type="button" class="usa-button">Register</button>
            </td>
            <tr>
              <th scope="row" role="rowheader">Oct. 12, 2023</th>
              <td data-sort-value="46">Moving from a Traditional WAN to SD-WAN</td>
              <td data-sort-value="1960567200"><button type="button" class="usa-button">Register</button>
            </td>
            </tr>
          </tbody>
        </table>
</section>

