<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col">
          <div class="logo-links">
            <a class="footer-logo media_link" href="https://gsa.gov">
              {% image_with_class "./_img/gsa_logo.png" "width-10 height-auto" "Agency logo" %}
            </a>
          </div>
        </div>
        <div class="tablet:grid-col"></div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li>About GSA</li>
            <li>Accessibility support</li>
            <li>Contact Us</li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li>FOIA requests</li>
            <li>No FEAR Act data</li>
            <li>Inspector General</li>
            
          </ul>
        </div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li>Performance reports</li>
            <li>Privacy Policy</li>
            <li>USA.gov</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
