{% comment %}
Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight.
{% endcomment %}

<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% comment %} {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %} {% endcomment %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Public Media</h3>
          <p>
            e.g., Public news articles and media mentions
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% comment %} {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %} {% endcomment %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Social Platforms</h3>
          <p>
            e.g., Social Media & Interact
          </p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
      {% comment %} {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %} {% endcomment %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">
           
          </h3>
          <p>
          
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% comment %} {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %} {% endcomment %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading"></h3>
          <p>
            
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
