{% comment %}
Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight.
{% endcomment %}

<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Enhance Acquisition Efficiency</h3>
          <p>
            GSA has continuously strived to incorporate input from both industry and government agencies throughout the acquisition process for EIS.  This effort was undertaken to support the long-term goals of delivering modern and innovative telecommunications and IT technologies.  As a result, EIS seeks to ensure that doing business with GSA is as easy and reliable as possible by simplifying and streamlining processes, promoting full price transparency and  standardizing the buying experience of agency customers by reducing the number of similar contracts.
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Delivering Better Value and Savings</h3>
          <p>
          GSA is committed to delivering cost savings during implementation, transition, and ongoing operations of telecommunications and IT services to support critical missions across government and achieve better pricing for U.S. taxpayers. GSA pursued an innovative geographic coverage approach which provides agencies with needed coverage, while at the same time increased the number of suppliers. With EIS, GSA has established a robust competitive federal marketplace by aggregating the overall federal spend for advanced network-enabled products/services and infrastructure.

          </p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">
            Leading With Innovation
          </h3>
          <p>
          The EIS scope provides the capability for industry suppliers to provide their full array of services and solutions in a manner that best meets their own individual business model. EIS incorporates new and additional innovative solutions that reduced the overall number of Contract Line Items (CLIN) on the contract, reduces the need for suppliers to add contract modifications and provides greater agency control of the ordering process at the task order level. EIS allows suppliers greater agility in meeting agency requirements by having in place processes for early inclusion of emerging technologies as well as the capability to “on-ramp” new suppliers during the life-cycle of the contract.
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Expanding Opportunities for Small Businesses</h3>
          <p>
          EIS relaxed its geographical coverage requirement from contracts awarded in the past and reduced the number of mandatory services to promote competition. As a result, 40% of the awardees were small businesses. Additionally, all large businesses were required to submit a subcontracting plan as part of their proposal that was evaluated during the source selection. EIS has an “on-ramp” capability to add new service providers who may emerge throughout the life-cycle of the contract.

          </p>
        </div>
      </div>
    </div>
  </div>
</section>
