{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      {% comment %} <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">A tagline highlights your approach</h2> {% endcomment %}
       <a class="footer-logo media_link" href="https://www.gsa.gov/technology/it-contract-vehicles-and-purchasing-programs/telecommunications-and-network-services/enterprise-infrastructure-solutions">
        {% image_with_class "./_img/EIS4x.png" "width-20 height-auto" "EIS logo" %}
      </a>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>The Enterprise Infrastructure Solutions program, successor to Networx, Washington Interagency Telecommunications System 3 (WITS3) and Regional LSAs will make it easier for agencies to acquire their enterprise telecommunications and information technology (IT)  infrastructure services from a single source vs. having to coordinate multiple acquisitions to meet their enterprise needs.</p>
      <p></p>
    </div>
  </div>
</section>

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
    <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Satellite Communications (SATCOM)</h2>
       <a class="footer-logo media_link" href="https://www.gsa.gov/technology/it-contract-vehicles-and-purchasing-programs/telecommunications-and-network-services/enterprise-infrastructure-solutions">
      </a>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>Our Best-in-Class SATCOM contracts — Complex Commercial SATCOM Solutions (CS3) and Commercial Satellite Communications Solutions on Multiple Award Schedule (MAS) — can help federal, state, local, and tribal governments maintain essential and secure communications where no wire line or wireless base exists.</p>
      <p>We offer Commercial Off-the-Shelf (COTS) and custom solutions like:</p>
      <li>Mobile, fixed, and broadcast satellite services.</li>  
      <li>Quick deployment for emergency response or disaster recovery communications.</li>
      <li>Support for continuity of operations (COOP) and distance learning.</li>
    </div>
  </div>
</section>

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
    <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Wireless Mobility Solutions</h2> 
       <a class="footer-logo media_link" href="https://www.gsa.gov/technology/it-contract-vehicles-and-purchasing-programs/telecommunications-and-network-services/enterprise-infrastructure-solutions">
      </a>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>Our Wireless Mobility Solutions offer:</p>
      <li>A single Best-in-Class contract for cutting-edge commercial mobility services.</li>  
      <li>A streamlined request for quote process with our RFQ generator tool.</li>
      <li>Easier onboarding for vendors and increased competition from companies.</li>
      <p>The scope of Wireless Mobility Solutions includes: </p>
      <li>Wireless Carrier Services</li>  
      <li>Enterprise Mobility Management</li>
      <li>Mobile Application Security</li>
      <li>Internet of Things & Other/Mobile Services</li>
    </div>
  </div>
</section>

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Earth Observation Solutions</h2>
       <a class="footer-logo media_link" href="https://www.gsa.gov/technology/it-contract-vehicles-and-purchasing-programs/telecommunications-and-network-services/enterprise-infrastructure-solutions">
      </a>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>Earth Observation Solutions, or EOS, makes it easier for agencies to acquire earth observation products, services and solutions by grouping geospatial data, knowledge and analytics under one MAS special item number.</p>
      <p>The scope of EOS covers: </p>
      <li>Ground, satellite and aerial based sensor data and imagery.</li>  
      <li>Worldwide digital transmission, internet, data, and video services.</li>
      <li>Other products and services relevant to Earth Observation Solutions.</li>
    </div>
  </div>
</section>