<section class="grid-container usa-section usa-prose">
    <h2 align="center">Service Offering Highlights</h2>
    <h2 align="center"></h2>
    <ul class="usa-card-group">
    <li class="usa-card tablet:grid-col-4 usa-card--header-first">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h2 class="usa-card__heading">Software-Defined Wide Area Networking (SD-WAN)</h2>
          </div>
          <div class="usa-card__media usa-card__media--exdent">
            <div class="usa-card__img">
              <img
                src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                alt="A placeholder image"
              />
            </div>
          </div>
          <div class="usa-card__body">
            <p>
                e.g., Software-Defined Wide Area Networking (SD-WAN) description. 
            </p>
          </div>
          <div class="usa-card__footer">
            <a href="#" class="usa-button">Learn more</a>
          </div>
        </div>
      </li>
      <li class="usa-card tablet:grid-col-4 usa-card--header-first">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h2 class="usa-card__heading">Trusted Internet Connections (TIC) 3.0</h2>
          </div>
          <div class="usa-card__media usa-card__media--exdent">
            <div class="usa-card__img">
              <img
                src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                alt="A placeholder image"
              />
            </div>
          </div>
          <div class="usa-card__body">
            <p>
              e.g., Managed description. 
            </p>
          </div>
          <div class="usa-card__footer">
            <a href="#" class="usa-button">Learn more</a>
          </div>
        </div>
      </li>
      <li class="usa-card tablet:grid-col-4 usa-card--header-first">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h2 class="usa-card__heading">Managed Services</h2>
          </div>
          <div class="usa-card__media usa-card__media--exdent">
            <div class="usa-card__img">
              <img
                src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                alt="A placeholder image"
              />
            </div>
          </div>
          <div class="usa-card__body">
            <p>
                e.g., Managed Network/Security/Trusted Internet Protocol service description.
            </p>
          </div>
          <div class="usa-card__footer">
            <a href="#" class="usa-button">Learn more</a>
          </div>
        </div>
      </li>
      <li class="usa-card tablet:grid-col-4 usa-card--header-first">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h2 class="usa-card__heading">Zero Trust</h2>
          </div>
          <div class="usa-card__media usa-card__media--exdent">
            <div class="usa-card__img">
              <img
                src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                alt="A placeholder image"
              />
            </div>
          </div>
          <div class="usa-card__body">
            <p>
                e.g., Zero trust description.
            </p>
          </div>
          <div class="usa-card__footer">
            <a href="#" class="usa-button">Learn more</a>
          </div>
        </div>
      </li>
      <li class="usa-card tablet:grid-col-4 usa-card--header-first">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h2 class="usa-card__heading">IP Voice</h2>
          </div>
          <div class="usa-card__media usa-card__media--exdent">
            <div class="usa-card__img">
              <img
                src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                alt="A placeholder image"
              />
            </div>
          </div>
          <div class="usa-card__body">
            <p>
                e.g., Legacy voice to VoIP description.
            </p>
          </div>
          <div class="usa-card__footer">
            <a href="#" class="usa-button">Learn more</a>
          </div>
        </div>
      </li>
      <li class="usa-card tablet:grid-col-4 usa-card--header-first">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h2 class="usa-card__heading">IPv6 Transition</h2>
          </div>
          <div class="usa-card__media usa-card__media--exdent">
            <div class="usa-card__img">
              <img
                src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                alt="A placeholder image"
              />
            </div>
          </div>
          <div class="usa-card__body">
            <p>
                e.g., IPv4 to IPv6 transition description.
            </p>
          </div>
          <div class="usa-card__footer">
            <a href="#" class="usa-button">Learn more</a>
          </div>
        </div>
      </li>
</section>
  
 
  
  